# Python caches
__pycache__/
*.pyc

# Packaging metadata
*.egg-info/

# IDE/editor junk
.idea/
.vscode/

# Folders
data/
jobs/
notebooks/

# Build outputs
build/
dist/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

